
body{
    width: 480px;
    margin: auto;
    vertical-align: center;
}

main{
    text-align: center;
}

#a{
    margin-top: 20px;
    height: 75px;
    line-height: 75px;
    background-color: red;
}

#b{
    height: 150px;
    line-height: 150px;
    background-color: blue;
}

#c{
    height: 125px;
    line-height: 125px;
    background-color: cyan;
}

#d{
    height: 125px;
    line-height: 125px;
    background-color: green;
}

#e{
    width: 240px;
    height: 250px;
    line-height: 250px;
    background-color: yellow;
    float: left;
}

#f{
    width: 240px;
    height: 250px;
    line-height: 250px;
    background-color: brown;
    float: left;
}

#g{
    width: 240px;
    height: 250px;
    line-height: 250px;
    background-color: gray;
    float: left;
}

#h{
    width: 240px;
    height: 250px;
    line-height: 250px;
    background-color: magenta;
    float: left;
}

#i{
    height: 80px;
    line-height: 80px;
    background-color: purple;
    clear: both;
}

@media only screen and (min-width: 768px){

    body{
        width: 960px;
        margin: auto;
    }
    
    main{
        text-align: center;
    }
    
    #a{
        margin-top: 20px;
        height: 100px;
        line-height: 100px;
        background-color: blue;
    }
    
    #b{
        height: 600px;
        line-height: 600px;
        width: 200px;
        background-color: red;
        float: left;
    }
    
    #c{
        height: 200px;
        line-height: 200px;
        width: 380px;
        background-color: green;
        float: left;
    }
    
    #d{
        height: 200px;
        line-height: 200px;
        width: 380px;
        background-color: cyan;
        float: left;
    }
    
    #e{
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: brown;
        float: left;
    }
    
    #f{
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: orange;
        float: left;
    }
    
    #g{
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: magenta;
        float: left;
    }
    
    #h{
        width: 190px;
        height: 250px;
        line-height: 250px;
        background-color: gray;
        float: left;
    }
    
    #i{
        height: 150px;
        line-height: 150px;
        width: 760px;
        background-color: silver;
        float: left;
        /* clear: both; */
    }

    #wtf{
        float: left;
        width: auto;
    }